@import "tailwindcss";

@theme {
  --nav-height: 84px;
  --color-background: #f4ffe0;
  --color-background-blur: #fffad852;
  --color-foreground: #b8ff36;
  --font-doto: "Doto", sans-serif;
  --font-mono: var(--font-geist-mono);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  overflow-x: hidden;
}

@layer components {
  nav {
    @apply flex flex-row justify-self-center w-dvw py-5 px-10 bg-black text-white fixed z-100;

    ul {
      @apply flex flex-row gap-2; 
    }
  }

  #login,
  #register {
    @apply w-dvw min-h-dvh flex justify-center items-start relative z-20 pb-8 px-4;
    padding-top: calc(var(--nav-height) + 1rem);
  
    .form-card {
      @apply w-full max-w-[520px] bg-(--color-foreground) p-8 md:p-10 flex flex-col gap-2 justify-center items-center z-10;
      box-shadow: 0 0 10px 2px #ddfaa4;
      max-height: calc(100dvh - var(--nav-height) - 2rem);
      overflow-y: auto;

      .form-header {
        @apply flex flex-col justify-center items-center font-(family-name:--font-doto) font-black mb-5;

        h1 {
          @apply text-3xl;
        }
        p {
          @apply text-xl;
        }
      }

      .form-header.fixed-header {
        @apply sticky top-0 z-20 w-full text-center py-3;
        background: var(--color-foreground);
      }

      .input-container {
        @apply w-full;

        .input-wrapper {
          @apply flex flex-row mt-[5px];
          
          input {
            @apply w-full pl-2 border-3;
            outline: none;
          }

          .pass-icon {
            @apply cursor-pointer;
          }

          .icon svg{
            @apply fill-white w-[50px] h-[50px] p-2 bg-black;
          }
        }

        .password-input-wrapper {
          @apply flex flex-row mt-[5px];

          input {
            @apply w-full pl-2 border-3;
            outline: none;
          }

          .pass-icon {
            @apply cursor-pointer;
          }

          svg {
            @apply fill-white w-[50px] h-[50px] p-2 bg-black;
          }
        }
      }
    }

    button {
      @apply py-5 px-10 bg-black text-white font-(family-name:--font-doto) font-black cursor-pointer mt-5;
    }

    .basebg {
      @apply absolute inset-0 w-full h-full min-h-dvh overflow-hidden bg-(--color-background);

      .animated-items {
        @apply w-full h-full;

        .item {
          @apply absolute rounded-full;
        }
      }

      .blur-layer {
        @apply absolute top-0 left-0 w-full h-full backdrop-blur-xl bg-(--color-background-blur);
      }
    }
  }


}