@import "tailwindcss";

@theme {
  --nav-height: 84px;
  
  /* Page background colors */

  --color-background: #cfffaf;
  --color-background-blur: #fffad852;
  --color-foreground: #b8ff36;

  /* Background status */

  --color-background-error: #d93636;
  --color-background-success: #29cae3;

  /* Text colors */

  --text-highlight: #036b01;
  --text-regular-white: #fff;

  /* Fonts */

  --font-doto: "Doto", sans-serif;
  --font-quicksand: "Quicksand", sans-serif;
  --font-mono: var(--font-geist-mono);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  overflow-x: hidden;
}

@layer components {
  nav {
    @apply flex flex-row justify-self-center w-dvw py-5 px-10 bg-black text-(--text-regular-white) fixed z-100;

    ul {
      @apply flex flex-row gap-2; 

      li {
        a {
          @apply font-(family-name:--font-doto) font-black;
        }
      }
    }
  }

  #login,
  #register {
    @apply w-dvw min-h-dvh flex justify-center items-center relative z-20 pb-8 px-4 overflow-hidden;
    padding-top: calc(var(--nav-height) + 1rem);
  
    .form-card {
      @apply w-full max-w-[520px] bg-(--color-foreground) p-8 md:p-10 flex flex-col gap-2 justify-center items-center z-10;
      box-shadow: 0 0 10px 2px #ddfaa4;
      overflow-y: auto;

      .form-header {
        @apply flex flex-col justify-center items-center font-(family-name:--font-doto) font-black mb-5;

        h1 {
          @apply text-3xl text-center;
        }
        p {
          @apply text-xl text-center;
        }
      }

      .form-header.fixed-header {
        @apply sticky top-0 z-20 w-full text-center py-3;
        background: var(--color-foreground);
      }

      .input-container {
        @apply w-full;

        label {
          @apply font-(family-name:--font-quicksand) font-bold;
        }

        .input-wrapper {
          @apply flex flex-row mt-[5px];
          
          input {
            @apply w-full pl-2 border-3;
            outline: none;
          }

          .pass-icon {
            @apply cursor-pointer;
          }

          .icon svg{
            @apply fill-white w-[50px] h-[50px] p-2 bg-black;
          }
        }

        .password-input-wrapper {
          @apply flex flex-row mt-[5px];

          input {
            @apply w-full pl-2 border-3;
            outline: none;
          }

          .pass-icon {
            @apply cursor-pointer;
          }

          svg {
            @apply fill-white w-[50px] h-[50px] p-2 bg-black;
          }
        }
      }
    }

    .optional-link {
      @apply flex flex-col justify-center items-center;

      a {
        @apply text-(--text-highlight) underline;
      }
    }

    .basebg {
      @apply absolute inset-0 w-full h-full min-h-dvh overflow-hidden bg-(--color-background);

      .animated-items {
        @apply w-full h-full;

        .item {
          @apply absolute rounded-full;
        }
      }

      .blur-layer {
        @apply absolute top-0 left-0 w-full h-full backdrop-blur-xl bg-(--color-background-blur);
      }
    }

    .alert-block {
      @apply fixed bg-black p-5 bottom-10 right-15 ;
      box-shadow: 0 0 10px 2px #ddfaa4; 

      .closing-button {
        @apply cursor-pointer absolute top-2 right-2;

        svg {
          @apply fill-white ; 
        }
      }

      h1 {
        @apply font-(family-name:--font-doto) text-(--text-regular-white) font-black ; 
      }

      p {
        @apply text-(--text-regular-white);
      }


    }
  }


}